:root {
  --primary-blue: #2470ff;
  --secondary-blue: #cedfff;
  --tertiary-blue: #5690ff;
  --primary-black: #2e2e2e;
  --primary-gray: #bec7d7;
  --light-cyan: #fbfcff;
  --primary-green: #25ae88;
  --primary-red: #ff2d47;
  --light-red: #ec6d6a;
  --light-yellow: #f7ea7e;
  --light-green: #a2e284;
}
